ontospy==1.9.8.3
numpy==1.18.5
requests==2.22.0
scipy==1.4.1
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorflow-hub==0.9.0
tensorflow-text==2.3.0
torch==1.6.0
sentence-transformers==1.1.0
networkx==2.5.1
flair==0.8.0
seaborn==1.6.1
matplotlib==
wikidataintegrator==
qwikidata==
owlready2==0.33
configparser